<div class="row">
    <div class="col-xs-12">
        <img [src]="recipeSelectedItem.imagePath" alt="{{ recipeSelectedItem.name }}" class="img-responsive" style="max-width: 300px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ recipeSelectedItem.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" appDropdown>
            <button class="btn btn-primary dropdown-toggle">Manage Recipe<span class="caret" data-toggle="dropdown"></span></button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation"><a role="menuitem" tabindex="-1" (click)="onAddToShoppingList()" style="cursor: pointer;">Add to Shopping List</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" routerLink="/recipes/{{recipeSelectedItem.id}}/edit" style="cursor: pointer;">Edit Recipe</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" style="cursor: pointer;">Delete Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ recipeSelectedItem.description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item"
          *ngFor="let ingredient of recipeSelectedItem.ingredients">
          {{ ingredient.name }} - {{ ingredient.amount }}
        </li>
        </ul>
    </div>
</div>
